#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &tog 1 &kp N1
            >;
        };
        layer1 {
            display-name = "Layer 1"
            bindings = <
                &tog 1 &kp N2
    };
};
